.logout-overlay{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.45);

display:flex;

justify-content:center;

align-items:center;

z-index:9999;

animation:fadeIn .3s ease;

}
.logout-card{

width:420px;


background:
linear-gradient(
180deg,
#081425,
#091a30,
#0a1d34,
#0b2139);

border-radius:22px;
   border:1px solid rgba(212,175,55,.45);
padding:35px;

text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,.2);

animation:scaleIn .3s ease;

}

.logout-icon{

font-size:55px;

margin-bottom:15px;

}

.logout-card h2{


    margin:12px 0 18px;

    font-size:34px;

    font-weight:700;

    color:#ffffff;

    letter-spacing:.5px;

}

.logout-card p{

font-size:17px;

color:#555;

line-height:1.6;

margin-bottom:30px;

}

.logout-buttons{

display:flex;

justify-content:center;

gap:15px;

}

.logout-btn{

 margin-top: 25px;

  padding: 14px;
 background:
    linear-gradient(
    180deg,
    #071321,
    #08192c,
    #0a2037);

    border:2px solid rgba(212, 175, 55, 0.75);
  color: #e53935;
  border-radius: 22px;
 cursor: pointer;

  font-size: 16px;

  font-weight: bold;

  width: 220px;

  transition: 0.3s;

}

.logout-btn:hover{
transform:translateY(-4px);

    border-color:#d4af37;

    box-shadow:
    0 20px 40px rgba(231, 76, 19, 0.654);



}

.cancel-btn{
margin-top: 25px;

  padding: 14px;

 
 background:
    linear-gradient(
    180deg,
    #071321,
    #08192c,
    #0a2037);

    border:2px solid rgba(212, 175, 55, 0.75);



  color:yellowgreen;
  border-radius: 22px;

  cursor: pointer;

  font-size: 16px;

  font-weight: bold;

  width: 220px;

  transition: 0.3s;


}

.cancel-btn:hover{

transform:translateY(-4px);

    border-color:#d4af37;

    box-shadow:
    0 20px 40px rgba(134, 38, 224, 0.753);


}

@keyframes fadeIn{

from{

opacity:0;

}

to{

opacity:1;

}

}

@keyframes scaleIn{

from{

transform:scale(.8);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}